body{
    font-family: 'Poppins', sans-serif;
}
h3{
    font-size: 60px;
}
.skip{
    color: #ff814f;
}
.flex{
    display: flex;
}
.halif-witdh{
    width: 50%;
    margin-top: 50px;
    margin-left: 80px;
}
.halif-witdh img{
    width: 95%;
}
.hire-me{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon,#ff6347);
    color: #ffffff;
    border-radius: 25px;
    font-size:12px ;
    padding: 13px 25px;
}
.margin{
    margin-top: 150px;
    margin-right: 90px;
    margin-left: 150px;
}
.backgrount{
    background-image: url(images/shapes/backgrount.png);
    background-repeat: no-repeat;
}
